* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f1f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

#container {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #4caf50;
  font-weight: bold;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#question-text {
  font-size: 1.4em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

#choice-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

#choice-list li {
  padding: 15px;
  background-color: #f9f9f9;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  font-size: 1.1em;
}

#choice-list li:hover {
  background-color: #e0f7fa;
  border: 2px solid #4caf50;
  transform: scale(1.05);
}

#choice-list li.selected {
  background-color: #81c784;
  border-color: #388e3c;
  color: white;
}

button {
  padding: 12px 25px;
  font-size: 1.1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
}

#result-container h2 {
  font-size: 1.7em;
  margin-bottom: 10px;
  color: #333;
}

#score {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #4caf50;
}

#restart-btn {
  background-color: #f44336;
}

#restart-btn:hover {
  background-color: #e53935;
}

#start-btn {
  padding: 12px 25px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 20px;
}

#start-btn:hover {
  background-color: #1976d2;
}
