@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  height: 100%;
}

.container {
  background: linear-gradient(135deg, #8a2be2, #4169e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  max-width: 400px;
  /* width: 90%; */
}

.content img {
  /* height: 200px; */
  width: 150px;
  object-fit: contain;
}

.content h1 {
  color: #333;
  margin: 20px;
}

.content p {
  color: #666;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.content button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #8a2be2;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #7a1dd1;
  /* background-color: #333; */
}
