body {
  background-color: grey;
}
#myNumber {
  text-align: center;
  display: block;
  font-size: 10em;
}
#btnContainer {
  text-align: center;
}

.btnClass {
  font-size: 1.5em;
  padding: 10px 20px;
  color: grey;
  background-color: skyblue;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.btnClass:hover {
  background-color: rgb(36, 55, 224);
  color: white;
}
