body {
  background-color: grey;
}

#myDice {
  text-align: center;
  display: block;
  font-size: 10em;
}

#btnDiv {
  text-align: center;
}

.btn {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
